[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/git/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-fsl-arm"]
	path = layers/meta-fsl-arm
	url = https://github.com/Freescale/meta-fsl-arm.git
[submodule "layers/meta-fsl-arm-extra"]
	path = layers/meta-fsl-arm-extra
	url = https://github.com/Freescale/meta-fsl-arm-extra.git
[submodule "layers/oe-meta-go"]
	path = layers/oe-meta-go
	url = https://github.com/mem/oe-meta-go.git
[submodule "layers/meta-compulab"]
	path = layers/meta-compulab
	url = https://github.com/compulab/yocto-compulab-layer
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena
[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust
